<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="bpmn2.presentation.Bpmn2ModelWizardID"
            name="%_UI_Bpmn2ModelWizard_label"
            class="bpmn2.presentation.Bpmn2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Bpmn2ModelFile.gif">
         <description>%_UI_Bpmn2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="bpmn2.presentation.Bpmn2EditorID"
            name="%_UI_Bpmn2Editor_label"
            icon="icons/full/obj16/Bpmn2ModelFile.gif"
            extensions="bpmn2"
            class="bpmn2.presentation.Bpmn2Editor"
            contributorClass="bpmn2.presentation.Bpmn2ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="bpmdi.presentation.BpmdiModelWizardID"
            name="%_UI_BpmdiModelWizard_label"
            class="bpmdi.presentation.BpmdiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BpmdiModelFile.gif">
         <description>%_UI_BpmdiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="bpmdi.presentation.BpmdiEditorID"
            name="%_UI_BpmdiEditor_label"
            icon="icons/full/obj16/BpmdiModelFile.gif"
            extensions="bpmdi"
            class="bpmdi.presentation.BpmdiEditor"
            contributorClass="bpmdi.presentation.BpmdiActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dc.presentation.DcModelWizardID"
            name="%_UI_DcModelWizard_label"
            class="dc.presentation.DcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DcModelFile.gif">
         <description>%_UI_DcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="dc.presentation.DcEditorID"
            name="%_UI_DcEditor_label"
            icon="icons/full/obj16/DcModelFile.gif"
            extensions="dc"
            class="dc.presentation.DcEditor"
            contributorClass="dc.presentation.DcActionBarContributor">
      </editor>
   </extension>

</plugin>
